@model IEnumerable<StaffingPlanner.Models.CLIENT_DETAILS>

@{
    ViewBag.Title = "Account List";
}


<div class="container">
    <h2>Account List</h2>




    <a href="/clients/create">
        <button type="button" class="btn btn-info navbar-btn">
            <i class="fa fa-plus-square"></i>
            <span> Create new</span>
        </button>
    </a>


    <table class="table table-condensed table-hover table-bordered small">
        <tr>
            <th class="text-center">
                Account
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CLIENT_SUB_BUSINESS)
            </th>
            <th class="text-center">Edit</th>
            <th class="text-center">Info</th>
            <th class="text-center">Delete</th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.CLIENT_STATUS == true)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CLIENT_NAME)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CLIENT_SUB_BUSINESS)
                    </td>

                    <td align="center">
                        <a href="/clients/edit/@item.CLIENT_ID">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-edit fa-xs"></i>
                            </button>
                        </a>
                    </td>
                    <td align="center">
                        <a href="/clients/details/@item.CLIENT_ID">
                            <button type="button" class="btn btn-success">
                                <i class="fa fa-plus fa-xs"></i>
                            </button>
                        </a>
                    </td>
                    <td align="center">
                        <a href="/clients/makeinactive/@item.CLIENT_ID">
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-trash fa-xs"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            }
        }

    </table>
</div>