@{
	ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<body>
	<div id="lostOpp_div"></div>
	<div id="second_div"></div>
</body>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/loader")
<script type="text/javascript" src="~/Scripts/statisticsview.js"></script>
